*.ipynb_checkpoints/
*.zip
/cat_dog_recognition/test/
/cat_dog_recognition/train/
*.csv
ml_helpers/word2vec/GoogleNews-vectors-negative300.bin
/kaggle_problems/rosneft_proppant/data/bw_main_area/
/kaggle_problems/rosneft_proppant/data/colored_main_area/
/kaggle_problems/rosneft_proppant/workspace/data/debug/
/kaggle_problems/rosneft_proppant/data/threshed_main_area/
/kaggle_problems/rosneft_proppant/data/colored_circles/
/kaggle_problems/rosneft_proppant/data/debug/
/kaggle_problems/rosneft_proppant/data/processing/
/kaggle_problems/rosneft_proppant/data/tmp/
/kaggle_problems/rosneft_proppant/data/
